@page
@model NuevoHotel.Pages.Habitaciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion[0].NumeroHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion[0].Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion[0].PrecioDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Habitacion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodigoHabitacion">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodigoHabitacion">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodigoHabitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
