@page
@model NuevoHotel.Pages.Salones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].NombreSalon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].PrecioHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salon) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSalon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodigoSalon">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodigoSalon">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodigoSalon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
