@page
@model NuevoHotel.Pages.Restautantes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante[0].Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante[0].Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurante) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <img asp-append-version="true" src="~/img/Restautantees/@item.RestautanteImg" alt="Alternate Text" width="64" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodigoRestaurante">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodigoRestaurante">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodigoRestaurante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
